<%- include("partials/header") %>

<strong><%= campground.name %></strong>
<div class="thumbnail"><img src="<%= campground.image %>" alt="Picture">
</div>
<p><%= campground.description %></p>






<%- include("partials/footer") %>